.calculator {
  background-color: #000;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  width: 375px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 10px;
}